@using Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Identity
@using Models
@using SendGrid
@using Services
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/bootstrapIndex.css">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="lib/popper.js/dist/popper.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<link href="~/css/fullBackgroundImage.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href="~/css/modalLogin.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    @RenderSection("scripts", required: false)
</head>


<body>
    <div id="layoutPreload">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse" style="padding-top: 50px;" id="navBar">
            <a class="navbar-brand" href="/index">Vancouver</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li id="indexNav" class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li id="aboutNav" class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    @*<partial name="_LoginPartial" />*@
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <li id="myAccountNav" class="nav-item">
                                <a class="nav-link" href="/MyAccount">My Account</a>
                            </li>
                            <li id="myTicketsNav" class="nav-item">
                                <a class="nav-link" href="/tickettest">My Tickets</a>
                            </li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName!</a>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </li>
                            </form>
                        }
                        else
                        {
                            @*<li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log in</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>*@
                            <li class="nav-item login-nav">
                                <a class="nav-link cd-signin" href="#0">Log in</a>
                            </li>
                            <li class="nav-item login-nav">
                                <a class="nav-link cd-signup" href="#0">Register</a>
                            </li>
                        }

                    }
                </ul>
            </div>
        </nav>



        <div class="cd-user-modal">
            <!-- this is the entire modal form, including the background -->
            <div class="cd-user-modal-container">
                <!-- this is the container wrapper -->
                <ul class="cd-switcher">
                    <li><a href="#0">Sign in</a></li>
                    <li><a href="#0">New account</a></li>
                </ul>

                <div id="cd-login">
                    <!-- log in form -->
                    <div class="cd-form">
                        <p class="fieldset">
                            <label class="image-replace cd-email" for="signin-email">E-mail</label>
                            <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-password" for="signin-password">Password</label>
                            <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <input type="checkbox" id="remember-me" checked>
                            <label for="remember-me">Remember me</label>
                        </p>

                        <p class="fieldset">
                            @*<input class="full-width btn btn-primary" id="loginSubmit" type="submit" value="Login">*@
                            <input class="full-width has-padding" id="loginSubmit" type="submit" value="Log In" />
                        </p>

                    </div>

                    <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
                    <!-- <a href="#0" class="cd-close-form">Close</a> -->
                </div> <!-- cd-login -->

                <div id="cd-signup">
                    <!-- sign up form -->
                    <form class="cd-form">
                        <p class="fieldset">
                            <label class="image-replace cd-username" for="signup-username">Username</label>
                            <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-email" for="signup-email">E-mail</label>
                            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-password" for="signup-password">Password</label>
                            <input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Password">
                            <a href="#0" class="hide-password">Hide</a>
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <input type="checkbox" id="accept-terms">
                            <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
                        </p>

                        <p class="fieldset">
                            <input class="full-width has-padding" type="submit" value="Create account">
                        </p>
                    </form>

                    <!-- <a href="#0" class="cd-close-form">Close</a> -->
                </div> <!-- cd-signup -->

                <div id="cd-reset-password">
                    <!-- reset password form -->
                    <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

                    <form class="cd-form">
                        <p class="fieldset">
                            <label class="image-replace cd-email" for="reset-email">E-mail</label>
                            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                            <span class="cd-error-message">Error message here!</span>
                        </p>

                        <p class="fieldset">
                            <input class="full-width has-padding" type="submit" value="Reset password">
                        </p>
                    </form>

                    <p class="cd-form-bottom-message"><a href="">Back to log-in</a></p>
                </div> <!-- cd-reset-password -->
                <a href="#0" class="cd-close-form">Close</a>
            </div> <!-- cd-user-modal-container -->
        </div> <!-- cd-user-modal -->


        <div class="container" id="body">
            @RenderBody()
        </div>
        <div class="vancouverFooter">
            <p style="text-align:left;">
                &copy; Vancouver 2018
                <span style="float:right;">Contact us:</span>
            </p>
            <p style="text-align:left;">
                Taltech
                <a href="#" style="float: right; background: #55ACEE; color: white; font-size: 25px; padding: 5px; border-radius: 20%; margin-left: 2px; margin-right: 2px;" class="fa fa-twitter"></a>
                <a href="#" style="float: right; font-size: 25px; padding: 5px; border-radius: 20%; margin-left: 2px; margin-right: 2px; color: white; background-color: #f09433; background-image: url('http://www.myprojectsite.com/images/social/instagram.png'), linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);font-size: 25px;" class="fa fa-instagram"></a>
                <a href="#" style="float: right; background: #3B5998; color: white; font-size: 25px; padding: 5px; padding-right: 9px; padding-left: 9px; border-radius: 20%; margin-left: 2px; margin-right: 2px;" class="fa fa-facebook"></a>
            </p>
        </div>
        <script src="~/js/js_modalLogin.js"></script>
        <script src="~/js/activeItems.js"></script>
        <script src="~/js/ajaxLogin.js"></script>
    </div>
    <script>
        $(document).ready(function () {
            $('#layoutPreload').fadeIn();
        });
    </script>
    <script src="~/js/js_modalLogin.js"></script>

</body>
</html>
