@page
@using Admin
@using Microsoft.AspNetCore.Identity
@using Vancouver.Models
@model Admin.AdminPageModel
@{
    ViewData["Title"] = "AdminPage";
}
@inject UserManager<ApplicationUser> UserManager
@Html.AntiForgeryToken()

<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>

</head>
<body style="width: 100%;">
<div id="adminTable" class="niceShadow" >
    <h1 style="color:black">Hello Admin!</h1>
    <div class="table" >
        <table style="color: black; width: 100%;">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Date of Birth
                </th>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th></th>
                <th></th>
            </tr>
            <tbody>
                @foreach (var user in @Model.ApplicationUserList)
                {
                    <tr>
                        <td>
                            @user.Id
                        </td>
                        <td>
                            @user.FirstName @user.LastName
                        </td>
                        <td>
                            @user.DateOfBirth
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @{
                                var roles = await UserManager.GetRolesAsync(user);
                                foreach (var role in roles)
                                {
                                    <span>@role</span>
                                }
                            }

                        </td>

                        @if (user.Email != "admin@admin.com")
                        {
                            <td>

                                <form method="post">
                                    <button asp-page-handler="AddAdminRole"
                                            asp-route-id="@user.Id" class="btn btn-danger">
                                        Add As Admin
                                    </button>
                                </form>

                            </td>
                            <td>
                                <form method="post">
                                    <button asp-page-handler="RemoveAdminRole"
                                            asp-route-id="@user.Id" class="btn btn-danger">
                                        Remove As Admin
                                    </button>
                                </form>

                            </td>
                        }
                    </tr>

                }
            </tbody>

        </table>
    </div>
</div>
</body>
