@page
@using Admin
@using Microsoft.AspNetCore.Identity
@model Admin.AdminPageModel
@{
    ViewData["Title"] = "AdminPage";
}
@Html.AntiForgeryToken();

<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="css/adminPage.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>

</head>

<h1 style="color:azure">Hello Admin!</h1>
    <div class="table" style="background-color: hsla(27, 34%, 65%, 0.2); color: azure">
        <table>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Date of Birth
                </th>
            </tr>
            <tbody>
            @foreach (var user in Model.ApplicationUserList)
            {
                <tr>
                    <td>
                        @user.Id
                    </td>
                    <td>
                        @user.FirstName @user.LastName
                    </td>
                    <td>
                        @user.DateOfBirth
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <form method="post">
                            <button asp-page-handler="AddAdminRole"
                                    asp-route-id="@user.Id" class="btn btn-danger">Add As Admin</button>
                        </form>
                    </td>
                </tr>
            }</tbody>
           
</table>
    </div>
}
