@page 
@using System.IO
@using System.Net
@using FlightsFolder
@using Newtonsoft.Json

@model IndexModel
@inject IFlightsObjectsRepository fr
@{
    ViewData["Title"] = "Vancouver Flights";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/datepicker/dist/datepicker.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
    <link href="~/css/airportAC.css" rel="stylesheet" />
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="~/js/datepicker/dist/datepicker.css" rel="stylesheet" />
    <link href="~/css/acrylicMaterial.css" rel="stylesheet" />
    @Html.AntiForgeryToken()
</head>
<body>
    <div class="container vertical-center" style="position: relative;">
        <div id="searchBar" class="flightSearchBox" style="position: relative; display: none;">
            <div class="blurWrapper"></div>
            <form method="post">
                <div class="row align-items-center" style="padding-top: 3px; padding-bottom: 3px;">
                    <div class="col-auto" style="">
                        <label class="sr-only" for="autocompleteDepart">Departure</label>
                        <input autocomplete="off" asp-for="FlightInput.Origin" type="text" class="form-control js_airports_auto_complete" id="autocompleteDepart" placeholder="Departure">
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="autocompleteArrive">Arrival</label>
                        <input autocomplete="off" asp-for="FlightInput.Destination" type="text" class="form-control js_airports_auto_complete" id="autocompleteArrive" placeholder="Arrival">
                    </div>
                    <div class="col-auto" style="">
                        <label class="sr-only" for="datepickerOutbound">Outbound</label>
                        <input autocomplete="off" asp-for="FlightInput.OutboundDate" type="text" class="form-control" data-toggle="datepicker" id="datepickerOutbound" placeholder="Outbound">
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="datepickerInbound">Inbound</label>
                        <input autocomplete="off" type="text" asp-for="FlightInput.InboundDate" class="form-control" data-toggle="datepicker" id="datepickerInbound" placeholder="Inbound">
                    </div>
                </div>
                <div class="row align-items-center" style="padding-bottom: 3px;">
                    <div class="col-auto" style="">
                        <select class="form-control" asp-for="FlightInput.TravelClass" id="fareClass" autocomplete="off">
                            <option selected="selected" value="ECONOMY">Economy Class</option>
                            <option value="PREMIUM_ECONOMY">Premium Economy Class</option>
                            <option value="BUSINESS">Business Class</option>
                            <option value="FIRST">First Class</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <select class="form-control" asp-for="FlightInput.FareOption" id="fareOption" onchange="selectChangedDatepicker()" autocomplete="off">
                            <option selected="selected" val="1">Round Trip</option>
                            <option val="2">One Way</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <select class="form-control" asp-for="FlightInput.AmountOfPassengers" id="passengers" autocomplete="off">
                            <option selected="selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <select class="form-control" asp-for="FlightInput.Currency" id="fareCurrency" autocomplete="off">
                            <option selected="selected">EUR</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <div class="col-auto" style="" id="searchFlights">
                        <button class="btn btn-primary" type="submit" id="aspSearchBtn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @{
        if (@Model.ItineraryList != null)
        {
            foreach (var item in @Model.ItineraryList)
            {

                <div class="vertical-center roundTrip" id="#  flightResultRoundtripId  " style="margin-top: 25px; min-height: 100%;">
                    <div class="container acrylic" style="border-radius: 7px;">
                        <div class="row" style="color: white; border-bottom: dotted; min-height: 8vh;">
                            <div id="flightInfoAirline" class="col-2 align-self-center">
                                <div style="margin-left: 10px;">
                                    <img src="" style="border-radius: 3px;">
                                </div>
                                //airlineOutbound
                            </div>
                            <div class="col-2 align-self-center" style="width: 60%">
                                <span id="flightInfoDepartureTime" class="itinerary-time">
                                    @item.departureTimeOutbound
                                </span><br />
                                <span id="flightInfoOriginAirport" style="font-weight: bold;">
                                    @item.originAirportOutbound
                                </span>
                            </div>
                            <div class="col-2 align-self-center" style="width: 60%;">
                                <div id="flightInfoDuration" style="font-size: 13px">
                                    @item.tripDurationOutbound
                                </div>
                                <div style="font-size: 10px;">
                                    <span id="flightInfoLayovers" style="color: red;">
                                          @item.layoverStopAmountOutbound stops
                                    </span>
                                    <div id="flightInfoLayoverCitiesOutbound" style="font-size: 10px; font-weight: bold;">
                                        @item.layoverCitiesOutbound
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 align-self-center" style="width: 60%">
                                <span id="flightInfoArrivalTime" class="itinerary-time">
                                    @item.arrivalTimeOutbound
                                </span><br />
                                <span id="flightInfoArrivalAirport" style="font-weight: bold;">
                                    @item.arrivalAirportOutbound
                                </span>
                            </div>
                            <div class="col-2 align-self-center"></div>
                            <div class="col-1 align-self-center">
                                <button class="btn btn-success getFlightBtn" data-target="  flightResultRoundtripId  " style="color:white; left: 50px">
                                    @item.farePricePerPassenger
                                </button>
                            </div>
                        </div>
                        <div id="outboundFlights" class="row" style="color: white; height: 8vh;">
                            <div id="flightInfoAirline" class="col-2 align-self-center">
                                //airlineInbound
                                <div style="margin-left: 10px">
                                    <img src="" style="border-radius: 3px;">
                                </div>
                            </div>
                            <div class="col-2 align-self-center">
                                <span id="flightInfoDepartureTime" class="itinerary-time">
                                    @item.departureTimeInbound
                                </span><br />
                                <span id="flightInfoOriginAirport" style="font-weight: bold;">
                                    @item.originAirportInbound
                                </span>
                            </div>
                            <div class="col-2 align-self-center" style="width: 60%">
                                <div id="flightInfoDuration" style="font-size: 13px">
                                    @item.tripDurationInbound
                                </div>
                                <div style="font-size: 10px;">
                                    <span id="flightInfoLayovers" style="color: red;">
                                        @item.layoverStopAmountInbound  stops
                                    </span>
                                    <div id="flightInfoLayoverCitiesInbound" style="font-size: 10px; font-weight: bold;">
                                        @item.layoverCitiesInbound
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 align-self-center" style="width: 60%">
                                <span id="flightInfoArrivalTime" class="itinerary-time">
                                    @item.arrivalTimeInbound
                                </span><br />
                                <span id="flightInfoArrivalAirport" style="font-weight: bold;">
                                    @item.arrivalAirportInbound
                                </span>
                            </div>
                            <div class="col-2 align-self-center"></div>
                            <div class="col-1 align-self-center">
                                <button type="button" class="btn btn-info flightDetailsButton" data-target="#flight-  flightLegsDetailsBtnId  " style="color:white; left: 50px">Details</button>
                            </div>
                        </div>
                        <div id="flightDetails">
                            <div id="flight-  flightLegsDetailsBtnId  " class="flightDetailsClass" style="">

                                <div class="row" style="border-bottom: solid 1px white; height: 15px;">
                                    <div class="col align-self-center" style="font-size: 10px; color: white;">
                                        Outbound flights
                                    </div>
                                </div>
                                @foreach (var outboundLeg in @item.IndFlightOutbound)
                                {
                                    <div class="row" style="color: white; min-height: 7vh;">
                                        <div id="outboundLegsInfo">
                                        </div>
                                        <div id="flightLegInfoAirline" class="col-2 align-self-center">
                                            <div style="margin-left: 10px;">
                                                <img src="  airlineLogoRequestUrlOutboundLeg  " style="border-radius: 3px;">
                                            </div>
                                        </div>
                                        <div class="col-1 align-self-center">
                                            <span id="flightLegDepartureTime" class="itinerary-time">
                                                @outboundLeg.departs_at
                                            </span><br />
                                            <span id="flightLegOriginAirport">
                                                @outboundLeg.origin
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center">
                                            <div id="flightLegDuration" style="font-size: 13px">
                                                N/A
                                            </div>
                                        </div>
                                        <div class="col-1 align-self-center">
                                            <span id="flightLegArrivalTime" class="itinerary-time">
                                                @outboundLeg.arrives_at
                                            </span><br />
                                            <span id="flightLegArrivalAirport">
                                                @outboundLeg.destination
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center" style="margin-left: 5px;">
                                            <span style="font-size: 11px;">
                                                Flight No.
                                            </span> <br>
                                            <span style="font-weight: bold; font-size: 13px;">
                                                @outboundLeg.flight_number
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center" style="margin-left: 5px;">
                                            <span style="font-size: 11px;">
                                                Aircraft
                                            </span> <br>
                                            <span style="font-weight: bold; font-size: 13px;">
                                                @outboundLeg.aircraft
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center" style="margin-left: 5px;">
                                            <span style="font-size: 11px;">
                                                Travel Class
                                            </span> <br>
                                            <span style="font-weight: bold; font-size: 13px;">
                                                @outboundLeg.travel_class
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center">
                                        </div>
                                    </div>
                                }
                                <div class="row" style="border-bottom: solid 1px white; height: 15px;">
                                    <div class="col align-self-center" style="font-size: 10px; color: white;">
                                        Inbound flights
                                    </div>
                                </div>
                                @foreach (var inboundLeg in @item.IndFlightInbound)
                                {
                                    <div class="row" style="color: white; min-height: 7vh;">
                                        <div>
                                        </div>
                                        <div class="col-2 align-self-center">
                                            <div style="margin-left: 10px;">
                                                <img src="  airlineLogoRequestUrlInboundLeg  " style="border-radius: 3px;">
                                            </div>
                                        </div>
                                        <div class="col-1 align-self-center">
                                            <span class="itinerary-time">
                                                @inboundLeg.departs_at
                                            </span><br/>
                                            <span id="flightLegOriginAirport">
                                                @inboundLeg.origin
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center">
                                            <div id="flightLegDuration" style="font-size: 13px">
                                               N/A
                                            </div>
                                        </div>
                                        <div class="col-1 align-self-center">
                                            <span id="flightLegArrivalTime" class="itinerary-time">
                                                @inboundLeg.arrives_at
                                            </span><br/>
                                            <span id="flightLegArrivalAirport">
                                                @inboundLeg.destination
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center" style="margin-left: 5px;">
                                            <span style="font-size: 11px;">
                                                Flight No.
                                            </span> <br>
                                            <span style="font-weight: bold; font-size: 13px;">
                                                @inboundLeg.flight_number
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center" style="margin-left: 5px;">
                                            <span style="font-size: 11px;">
                                                Aircraft
                                            </span> <br>
                                            <span style="font-weight: bold; font-size: 13px;">
                                                @inboundLeg.aircraft
                                            </span>
                                        </div>
                                        <div class="col-1 align-self-center" style="margin-left: 5px;">
                                            <span style="font-size: 11px;">
                                                Travel Class
                                            </span> <br>
                                            <span style="font-weight: bold; font-size: 13px;">
                                                @inboundLeg.travel_class
                                            </span>
                                        </div>
                                        <div class="col-5 align-self-center"></div>
                                        <div class="col-1 align-self-center">
                                        </div>
                                    </div>
                                }
                                <div class="row" style="color: white; border-top: dotted;">
                                    <div id="farePriceDetailsTotal" class="col-3 align self-center" style="font-size: 11px;">
                                        Total price for all passengers: <span style="color: green; font-size: 12px">
                                            @item.farePriceTotal
                                        </span>
                                    </div>
                                    <div id="farePriceDetailsPP" class="col-3 align self-center" style="font-size: 11px;">
                                        Price per passenger: <span style="color: green; font-size: 12px">
                                            @item.farePricePerPassenger
                                        </span>
                                    </div>
                                    <div id="farePriceDetailsPPtax" class="col-3 align self-center" style="font-size: 11px;">
                                        Tax per passenger:
                                        <span style="color: green; font-size: 12px">
                                            @item.farePriceTax
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                 </div>
            }
        }
                    else
                    {
                    <h1>I got nothing :(</h1>
                    }


                    }

                    <div id="flightResults" class="vertical-center" style="margin-top: 25px; display: none;">
                    </div>



                    <div id="loading" class="d-flexLoading align-items-center justify-content-center h-100" style="margin-top: 80px; display: none !important;">

                        <div id="made-with-love" style="height: 150px; width: 150px;">
                            <svg version="1.1" id="L3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                            <circle fill="none" stroke="#fff" stroke-width="4" cx="50" cy="50" r="44" style="opacity:0.5;" />



                            <circle fill="#fff" stroke="#e74c3c" stroke-width="3" cx="8" cy="54" r="6">
                            <animateTransform attributeName="transform"
                                              dur="2s"
                                              type="rotate"
                                              from="0 50 48"
                                              to="360 50 52"
                                              repeatCount="indefinite" />



                </circle>
            </svg>
                        </div>
                    </div>

                    <div id="errorMessage" style="display: none">
                        <h2 style="color: white;">You broke it...</h2>
                        <img src="~/images/sad.png" />
                    </div>


                    <script>
                        $(window).scroll(function (event) {
                            var scrollPosition = $(window).scrollTop();

                            if (scrollPosition > 95) {
                                $('#searchBar').removeClass('flightSearchBox');
                                $('#searchBar').addClass('fixedFlightSearchBox');
                                $('#flightResults').addClass('pushFlightResultsDown');
                                $('#flightResults').addClass('vertical-center');
                            } else {
                                $('#searchBar').removeClass('fixedFlightSearchBox');
                                $('#searchBar').addClass('flightSearchBox');
                                $('#flightResults').removeClass('pushFlightResultsDown');
                            }
                        });
                    </script>



                    <script>
                        $(document).ready(function () {
                            $('#searchBar').fadeIn();

                            $('#fareOption').click(function selectChangedDatepicker() {
                                if ($('#fareOption').val() == "One Way") {
                                    $('#datepickerInbound').val('');
                                    $('#datepickerInbound').attr('disabled', true);
                                } else {
                                    $('#datepickerInbound').attr('disabled', false);
                                }
                            });
                        });
                    </script>

                    <script src="~/js/searchFlights.js"></script>
                    <script src="~/js/showFlightDetails.js"></script>
                    <script src="~/lib/jquery.md5.js"></script>
                    <script src="~/js/datepicker/flightDatepicker.js"></script>
                    <script src="~/js/airportsAutoComplete.js"></script>
            </body>
</html>





