@page

@using System.IO
@using System.Linq
@using System.Net
@using FlightsFolder
@using Microsoft.AspNetCore.Identity
@using Models
@using Newtonsoft.Json
@using Services

@model IndexModel
@inject UserManager<ApplicationUser> UserManager
@inject IFlightsObjectsRepository fr
@inject ITimeZoneService tzService
@inject IAircraftInfoService aircraftService
@{
    ViewData["Title"] = "Vancouver Flights";
    tzService.GetTimeZoneList();
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/datepicker/dist/datepicker.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
    <link href="~/css/airportAC.css" rel="stylesheet" />
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
    <link href="~/css/acrylicMaterial.css" rel="stylesheet" />
    <link href="~/css/flightResults.css" rel="stylesheet" />
    <link href="~/css/materialBtn.css" rel="stylesheet" />
    @Html.AntiForgeryToken()
</head>
<body>
    <div class="container vertical-center" style="position: relative;">
        <div id="searchBar" class="flightSearchBox niceShadow">
            <div class="blurWrapper"></div>
            <form method="post">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="searchbar-label">From</div>
                        <label class="sr-only" for="autocompleteDepart">Departure</label>
                        <input autocomplete="off" asp-for="FlightInput.Origin" type="text" class="form-control js_airports_auto_complete" id="autocompleteDepart" placeholder="Airport">
                    </div>
                    <div class="col-auto">
                        <div class="searchbar-label">To</div>
                        <label class="sr-only" for="autocompleteArrive">Arrival</label>
                        <input autocomplete="off" asp-for="FlightInput.Destination" type="text" class="form-control js_airports_auto_complete" id="autocompleteArrive" placeholder="Airport">
                    </div>
                    <div class="row align-items-center input-daterange" id="js_daterange">
                        <div class="col-auto">
                            <div class="searchbar-label">Depart</div>
                            <label class="sr-only" for="datepickerOutbound">Outbound</label>
                            <input autocomplete="off" asp-for="FlightInput.OutboundDate" type="text" class="form-control datepicker" data-provide="datepicker" id="datepickerOutbound" placeholder="Date">
                        </div>
                        <div class="col-auto">
                            <div class="searchbar-label">Return</div>
                            <label class="sr-only" for="datepickerInbound">Inbound</label>
                            <input autocomplete="off" type="text" asp-for="FlightInput.InboundDate" class="form-control datepicker" data-provide="datepicker" id="datepickerInbound" placeholder="Date">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto" style="margin: 0 !important;">
                        <div class="searchbar-label">Cabin  Class</div>
                        <select class="form-control" asp-for="FlightInput.TravelClass" id="fareClass" autocomplete="off">
                            <option selected="selected" value="ECONOMY">Economy Class</option>
                            <option value="PREMIUM_ECONOMY">Premium Economy Class</option>
                            <option value="BUSINESS">Business Class</option>
                            <option value="FIRST">First Class</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <div class="searchbar-label">Itinerary</div>
                        <select class="form-control" asp-for="FlightInput.FareOption" id="fareOption" onchange="selectChangedDatepicker()" autocomplete="off">
                            <option selected="selected" val="1">Round Trip</option>
                            <option val="2">One Way</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <div class="searchbar-label">Passengers</div>
                        <select class="form-control" asp-for="FlightInput.AmountOfPassengers" id="passengers" autocomplete="off">
                            <option selected="selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <div class="searchbar-label">Currency</div>
                        <select class="form-control" asp-for="FlightInput.Currency" id="fareCurrency" autocomplete="off">
                            <option selected="selected">EUR</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <div class="col-auto" style="margin-top: 25px;" id="searchFlights">
                        <button class="btn btn-primary" type="submit" id="aspSearchBtn" style="width: 80px;">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="aspValidation" class="container">
        <span asp-validation-for="FlightInput.Origin" class="text-danger"></span>
        <span asp-validation-for="FlightInput.Destination" class="text-danger"></span>
        <span asp-validation-for="FlightInput.OutboundDate" class="text-danger"></span>
        <span asp-validation-for="FlightInput.InboundDate" class="text-danger"></span>
        @if (@Model.Error != null)
        {
            <div class="text-danger">@Model.Error</div>
        }
    </div>
    

    <div id="flightResults">

        @{

            if (@Model.ItineraryList != null)
            {
                for (int i = 0; i < @Model.ItineraryList.Count(); i++)
                {
                    var itineraryItem = Model.ItineraryList.ElementAt(i);

                    var airlineItineraryOutbound = @Model.ItineraryList.ElementAt(i).IndFlightOutbound[0].marketing_airline;
                    var airhexLogosItineraryOutbound = "https://content.airhex.com/content/logos/airlines_" + airlineItineraryOutbound + "_50_50_s.png";

                    var currency = @Model.ItineraryList.ElementAt(i).fareCurrency;


                    <form method="post" id="flightResultRow">
                        <div class="vertical-center flightResultSpacing" id="#@itineraryItem.Id">
                            <div class="container flightResultContainer niceShadow">
                                <div class="row itineraryResultRow">
                                    <div class="col-2 align-self-center">
                                        <div style="margin-left: 10px;">
                                            <img src="@airhexLogosItineraryOutbound" style="border-radius: 3px;">
                                        </div>
                                    </div>
                                    <div class="col-2 align-self-center" style="width: 60%">
                                        <label class="itinerary-time" asp-for="@itineraryItem.departureTimeOutbound">
                                            @itineraryItem.departureTimeOutbound.Split("T")[1]
                                        </label><br />
                                        <label asp-for="@itineraryItem.originAirportOutbound" class="flightResultMainLabel">
                                            @itineraryItem.originAirportOutbound
                                        </label>
                                    </div>
                                    <div class="col-2 align-self-center" style="width: 60%;">
                                        <div class="row">
                                            <label asp-for="@itineraryItem.tripDurationOutbound" class="flightInfoDuration">
                                                @itineraryItem.tripDurationOutbound.Split(":")[0]h @Model.ItineraryList.ElementAt(i).tripDurationOutbound.Split(":")[1]m
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label asp-for="@itineraryItem.layoverStopAmountOutbound" class="flightInfoLayovers">
                                                @itineraryItem.layoverStopAmountOutbound stops
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label asp-for="@itineraryItem.layoverCitiesOutbound" class="flightInfoLayoverCities">
                                                @itineraryItem.layoverCitiesOutbound
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-2 align-self-center" style="width: 60%">
                                        <label asp-for="@itineraryItem.arrivalTimeOutbound" class="itinerary-time">
                                            @itineraryItem.arrivalTimeOutbound.Split("T")[1]
                                        </label><br />
                                        <label asp-for="@itineraryItem.arrivalAirportOutbound" class="flightResultMainLabel">
                                            @itineraryItem.arrivalAirportOutbound
                                        </label>
                                    </div>
                                    <div class="col-2 align-self-center">

                                    </div>
                                    <div class="col-1 align-self-center">
                                        <button type="submit" asp-page-handler="ItineraryOrder" asp-route-id="@Model.ItineraryList.ElementAt(i).Id" class="btn btn-success getFlightBtn" data-target="@Model.ItineraryList.ElementAt(i).Id">

                                            @Model.ItineraryList.ElementAt(i).farePricePerPassenger @currency
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).originAirportOutbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).originAirportInbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).arrivalAirportOutbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).arrivalAirportInbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).layoverCitiesOutbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).layoverCitiesInbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).layoverStopAmountOutbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).layoverStopAmountInbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).farePriceTotal)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).fareClass)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).fareCurrency)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).farePricePerPassenger)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).farePriceTax)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).arrivalTimeInbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).arrivalTimeOutbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).departureTimeInbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).departureTimeOutbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).tripDurationOutbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).tripDurationInbound)
                                            @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).AmountOfPassengers)
                                        </button>

                                    </div>
                                </div>
                                <hr class="roundTripDivider" />
                                @if (itineraryItem.IndFlightInbound == null)
                                {
                                    <div class="col-1 align-self-center">
                                        <button type="button" class="btn btn-info flightDetailsButton" data-target="#flight-@itineraryItem.Id">Details</button>
                                    </div>
                                }

                                @if (itineraryItem.IndFlightInbound != null)
                                {
                                    var airlineItineraryInbound = @Model.ItineraryList.ElementAt(i).IndFlightInbound[0].marketing_airline;
                                    var airhexLogosItineraryInbound = "https://content.airhex.com/content/logos/airlines_" + airlineItineraryInbound + "_50_50_s.png";
                                    <div class="row itineraryResultRow">
                                        <div class="col-2 align-self-center">
                                            <div style="margin-left: 10px">
                                                <img src="@airhexLogosItineraryInbound" style="border-radius: 3px;">
                                            </div>
                                        </div>
                                        <div class="col-2 align-self-center">
                                            <label asp-for="@itineraryItem.departureTimeInbound" class="itinerary-time">
                                                @itineraryItem.departureTimeInbound.Split("T")[1]
                                            </label><br />
                                            <label asp-for="@itineraryItem.originAirportInbound" class="flightInfoAirport">
                                                @itineraryItem.originAirportInbound
                                            </label>
                                        </div>
                                        <div class="col-2 align-self-center" style="width: 60%">
                                            <div class="row">
                                                <label asp-for="@itineraryItem.tripDurationInbound" class="flightInfoDuration">
                                                    @itineraryItem.tripDurationInbound.Split(":")[0]h @itineraryItem.tripDurationInbound.Split(":")[1]m
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label asp-for="@itineraryItem.layoverStopAmountInbound" class="flightInfoLayovers">
                                                    @itineraryItem.layoverStopAmountInbound stops
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label asp-for="@itineraryItem.layoverCitiesInbound" class="flightInfoLayoverCities">
                                                    @itineraryItem.layoverCitiesInbound
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2 align-self-center" style="width: 60%">
                                            <label asp-for="@itineraryItem.arrivalTimeInbound" class="itinerary-time">
                                                @itineraryItem.arrivalTimeInbound.Split("T")[1]
                                            </label><br />
                                            <label asp-for="@itineraryItem.arrivalAirportInbound" class="flightInfoAirport">
                                                @itineraryItem.arrivalAirportInbound
                                            </label>
                                        </div>
                                        <div class="col-2 align-self-center"></div>
                                        <div class="col-1 align-self-center">
                                            <button type="button" class="btn btn-info flightDetailsButton" data-target="#flight-@itineraryItem.Id" style="color: white; left: 50px">Details</button>
                                        </div>
                                    </div>
                                }
                                <div id="flightDetails">
                                    <div id="flight-@itineraryItem.Id" class="flightDetailsClass" style="display: none;">

                                        <div class="row" style="border-bottom: solid 1px black; height: 30px; padding: 3px; margin: 3px;">
                                            <div class="col align-self-center" style="font-size: 20px; color: black;">
                                                Outbound flights
                                            </div>
                                        </div>
                                        @for (int x = 0; x < @Model.ItineraryList.ElementAt(i).IndFlightOutbound.Count; x++)
                                        {
                                            var currentIndOutbound = itineraryItem.IndFlightOutbound.ElementAt(x);

                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].aircraft)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].booking_code)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].destinationInd)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].flight_number)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].marketing_airline)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].operating_airline)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].originInd)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].seats_remaining)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].travel_class)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].arrives_at)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].departs_at)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].destinationInd)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].orderPos)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].terminalDes)
                                            @Html.HiddenFor(k => k.ItineraryList.ElementAt(i).IndFlightOutbound[x].terminalOrg)

                                            var airlineOutbound = @Model.ItineraryList.ElementAt(i).IndFlightOutbound.ElementAt(x).marketing_airline;
                                            var airhexLogosOutbound = "https://content.airhex.com/content/logos/airlines_" + airlineOutbound + "_50_50_s.png";

                                            if (x > 0)
                                            {
                                                var flightBeforeArrives = Model.ItineraryList.ElementAt(i).IndFlightOutbound.ElementAt(x - 1).arrives_at.Split("T")[0] + " " + Model.ItineraryList.ElementAt(i).IndFlightOutbound.ElementAt(x - 1).arrives_at.Split("T")[1];
                                                var currentFlightDeparts = Model.ItineraryList.ElementAt(i).IndFlightOutbound.ElementAt(x).departs_at.Split("T")[0] + " " + Model.ItineraryList.ElementAt(i).IndFlightOutbound.ElementAt(x).departs_at.Split("T")[1];
                                                <div class="row">
                                                    <div class="col" style="display:inline-block;">
                                                        <img src="~/images/flight-transfer.svg" style="height:50px; width:auto;" />
                                                        <small class="indDuration">@tzService.GetLayoverDuration(flightBeforeArrives, currentFlightDeparts)</small>
                                                    </div>
                                                </div>
                                            }

                                            <div class="row row-eq-height" style="color: black; min-height: 14%; padding: 3px;">
                                                <div>
                                                </div>
                                                <div class="col-2 align-self-center">
                                                    <div style="margin-left: 10px;">
                                                        <img src="@airhexLogosOutbound" style="border-radius: 3px;">
                                                    </div>
                                                </div>
                                                <div class="col-1 align-self-center">
                                                    <label asp-for="@currentIndOutbound.departs_at" class="itinerary-time">
                                                        @currentIndOutbound.departs_at.Split("T")[1]
                                                    </label><br />
                                                    <label asp-for="@currentIndOutbound.originInd" class="flightInfoAirport">
                                                        @currentIndOutbound.originInd
                                                    </label>
                                                </div>
                                                <div class="col-1 align-self-center">
                                                    <div class="indDuration">
                                                        @currentIndOutbound.duration
                                                    </div>
                                                </div>
                                                <div class="col-1 align-self-center">
                                                    <label asp-for="@currentIndOutbound.arrives_at" class="itinerary-time">
                                                        @currentIndOutbound.arrives_at.Split("T")[1]
                                                    </label><br />
                                                    <label asp-for="@currentIndOutbound.destinationInd" class="flightInfoAirport">
                                                        @currentIndOutbound.destinationInd
                                                    </label>
                                                </div>
                                                <div class="col-1 align-self-center" style="margin-left: 5px;">
                                                    <row class="indFlightInfoLabel">
                                                        Flight No.
                                                    </row> 
                                                    <row>
                                                        <label asp-for="@currentIndOutbound.flight_number" class="indFlightInfo">
                                                           @currentIndOutbound.marketing_airline @currentIndOutbound.flight_number
                                                        </label>
                                                    </row>
                                                </div>
                                                <div class="col-1 align-self-center" style="margin-left: 5px;">
                                                    <row class="indFlightInfoLabel">
                                                        Aircraft
                                                    </row>
                                                    <row>
                                                        <label asp-for="@currentIndOutbound.aircraft" class="indFlightInfo">
                                                            <small class="aircraft">@aircraftService.GetAircraftName(currentIndOutbound.aircraft)</small>
                                                        </label>
                                                    </row>
                                                </div>
                                                <div class="col-1 align-self-center" style="margin-left: 5px;">
                                                    <row class="indFlightInfoLabel">
                                                        Travel Class
                                                    </row>
                                                    <row>
                                                        <label asp-for="@currentIndOutbound.travel_class" class="indFlightInfo">
                                                        @currentIndOutbound.travel_class
                                                    </label>
                                                    </row>
                                                    
                                                </div>
                                                <div class="col-1 align-self-center">
                                                </div>
                                            </div>
                                        }

                                        @if (@Model.ItineraryList.ElementAt(i).IndFlightInbound != null)
                                        {
                                            <div class="row" style="border-bottom: solid 1px black; height: 30px; padding: 3px; margin: 3px;">
                                                <div class="col align-self-center" style="font-size: 20px; color: black;">
                                                    Inbound flights
                                                </div>
                                            </div>
                                            for (int y = 0; y < @Model.ItineraryList.ElementAt(i).IndFlightInbound.Count; y++)
                                            {
                                                var currentIndInbound = itineraryItem.IndFlightInbound.ElementAt(y);

                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].aircraft)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].arrives_at)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].departs_at)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].destinationInd)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].originInd)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].flight_number)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].travel_class)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].booking_code)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].marketing_airline)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].operating_airline)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].seats_remaining)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].orderPos)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].terminalOrg)
                                                @Html.HiddenFor(x => x.ItineraryList.ElementAt(i).IndFlightInbound[y].terminalDes)

                                                var airlineInbound = @Model.ItineraryList.ElementAt(i).IndFlightInbound.ElementAt(y).marketing_airline;
                                                var airhexLogosInbound = "https://content.airhex.com/content/logos/airlines_" + airlineInbound + "_50_50_s.png";

                                                if (y > 0)
                                                {
                                                    var flightBeforeArrives = Model.ItineraryList.ElementAt(i).IndFlightInbound.ElementAt(y - 1).arrives_at.Split("T")[0] + " " + Model.ItineraryList.ElementAt(i).IndFlightInbound.ElementAt(y - 1).arrives_at.Split("T")[1];
                                                    var currentFlightDeparts = Model.ItineraryList.ElementAt(i).IndFlightInbound.ElementAt(y).departs_at.Split("T")[0] + " " + Model.ItineraryList.ElementAt(i).IndFlightInbound.ElementAt(y).departs_at.Split("T")[1];
                                                    <div class="row">
                                                        <div class="col" style="display:inline-block;">
                                                            <img src="~/images/flight-transfer.svg" style="height:50px !important; width:auto;" />
                                                            <small class="indDuration">@tzService.GetLayoverDuration(flightBeforeArrives, currentFlightDeparts)</small>
                                                        </div>
                                                    </div>
                                                }

                                                <div class="row" style="color: black; min-height: 14%; padding: 3px;">
                                                    <div>
                                                    </div>
                                                    <div class="col-2 align-self-center">
                                                        <div style="margin-left: 10px;">
                                                            <img src="@airhexLogosInbound" style="border-radius: 3px;">
                                                        </div>
                                                    </div>
                                                    <div class="col-1 align-self-center">
                                                        <div class="row">
                                                            <label asp-for="@currentIndInbound.departs_at" class="itinerary-time">
                                                                @currentIndInbound.departs_at.Split("T")[1]
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <label asp-for="@currentIndInbound.originInd" class="flightInfoAirport">
                                                                @currentIndInbound.originInd
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 align-self-center">
                                                        <div class="indDuration">
                                                            @currentIndInbound.duration
                                                        </div>
                                                    </div>
                                                    <div class="col-1 align-self-center">
                                                        <div class="row">
                                                            <label asp-for="@currentIndInbound.arrives_at" class="itinerary-time">
                                                                @currentIndInbound.arrives_at.Split("T")[1]
                                                            </label>
                                                        </div>
                                                        <div class="row">
                                                            <label asp-for="@currentIndInbound.destinationInd" class="flightInfoAirport">
                                                                @currentIndInbound.destinationInd
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 align-self-center" style="margin-left: 5px;">
                                                        <div class="row">
                                                            <span class="indFlightInfoLabel">
                                                                Flight No.
                                                            </span>
                                                        </div>
                                                        <div class="row">
                                                            <label asp-for="@currentIndInbound.flight_number" class="indFlightInfo">
                                                               @currentIndInbound.marketing_airline @currentIndInbound.flight_number
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 align-self-center" style="margin-left: 5px;">
                                                        <div class="row">
                                                            <span class="indFlightInfoLabel">
                                                                Aircraft
                                                            </span>
                                                        </div>
                                                        <div class="row">
                                                            <label asp-for="@currentIndInbound.aircraft" class="indFlightInfo">
                                                                <small>@aircraftService.GetAircraftName(currentIndInbound.aircraft)</small>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 align-self-center" style="margin-left: 5px;">
                                                        <div class="row">
                                                            <span class="indFlightInfoLabel">
                                                                Travel Class
                                                            </span>
                                                        </div>
                                                        <div class="row">
                                                            <label asp-for="@currentIndInbound.travel_class" class="indFlightInfo">
                                                                @currentIndInbound.travel_class
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-5 align-self-center"></div>
                                                    <div class="col-1 align-self-center">
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <div class="row" style="color: black; border-top: dotted;">
                                            <div class="col-3 align self-center" style="font-size: 20px; min-width: 33%;">
                                                Total price for all passengers:
                                                <label asp-for="@itineraryItem.farePriceTotal" class="itineraryPriceSpan">
                                                    @itineraryItem.farePriceTotal
                                                </label>
                                            </div>
                                            <div class="col-3 align self-center" style="font-size: 20px; min-width: 33%;">
                                                Price per passenger:
                                                <label asp-for="@itineraryItem.farePricePerPassenger" class="itineraryPriceSpan">
                                                    @itineraryItem.farePricePerPassenger
                                                </label>
                                            </div>
                                            <div class="col-3 align self-center" style="font-size: 20px; min-width: 33%;">
                                                Tax per passenger:
                                                <label asp-for="@itineraryItem.farePriceTax" class="itineraryPriceSpan">
                                                    @itineraryItem.farePriceTax
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            }
        }
    </div>

    <div id="loading" class="d-flexLoading align-items-center justify-content-center h-100" style="margin-top: 80px; display: none !important;">

        <div id="made-with-love" style="height: 150px; width: 150px;">
            <svg version="1.1" id="L3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <circle fill="none" stroke="#fff" stroke-width="4" cx="50" cy="50" r="44" style="opacity: 0.5;" />

            <circle fill="#fff" stroke="#CA508B" stroke-width="3" cx="8" cy="54" r="6">
            <animateTransform attributeName="transform"
                              dur="2s"
                              type="rotate"
                              from="0 50 48"
                              to="360 50 52"
                              repeatCount="indefinite" />

            </circle>
        </svg>
        </div>
    </div>

    <div id="errorMessage" style="display: none">
        <h2 style="color: white;">You broke it...</h2>
        <img src="~/images/sad.png" />
    </div>


    <script>
        $(window).scroll(function (event) {
            var scrollPosition = $(window).scrollTop();

            if (scrollPosition > 95) {
                $('#searchBar').removeClass('flightSearchBox');
                $('#searchBar').addClass('fixedFlightSearchBox');
                $('#flightResults').addClass('pushFlightResultsDown');
                $('#flightResults').addClass('vertical-center');
            } else {
                $('#searchBar').removeClass('fixedFlightSearchBox');
                $('#searchBar').addClass('flightSearchBox');
                $('#flightResults').removeClass('pushFlightResultsDown');
            }
        });
    </script>


    <script>
        $(document).ready(function () {
            $('#searchBar').fadeIn();

            $('#fareOption').click(function selectChangedDatepicker() {
                if ($('#fareOption').val() === "One Way") {
                    $('#datepickerInbound').val('');
                    $('#datepickerInbound').attr('disabled', true);
                } else {
                    $('#datepickerInbound').attr('disabled', false);
                }
            });


            $('#aspSearchBtn').on('click',
                function () {

                    //if ($('#datepickerInbound').val('')) {
                    //    $('#fareOption').val('One Way');
                    //    $('#fareOption').change();
                    //    $('#datepickerInbound').attr('disabled', true);
                    //    $('#aspValidation').fadeOut();
                    //    $('#flightResults').fadeOut();
                    //    $('#loading').fadeIn();
                    //} else {}
                    $('#aspValidation').fadeOut();
                    $('#flightResults').fadeOut();
                    $('#loading').fadeIn();


                });

            var nowDate = new Date();
            var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);

            $('#js_daterange').datepicker({
                startDate: today,
                format: 'yyyy-mm-dd',
                autoClose: true
            });
        })
    </script>


    <script src="~/js/searchFlights.js"></script>
    <script src="~/js/showFlightDetails.js"></script>
    <script src="~/lib/jquery.md5.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/airportsAutoComplete.js"></script>
</body>
</html>





