@page

@using CustomerFolder
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Server.Kestrel.Core.Features
@using Models
@model MyAccountModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "My Account";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager 

<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="css/myAccount.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
</head>
<body>
<div class="container">
    <div class="profile-sector" id="myAccountContainer">
        <div class="profile-sector-column" style="position: relative;">
            @{
                if (UserManager.GetUserAsync(User).Result.UserPhoto == null)
                {
                    <form method="post" enctype="multipart/form-data">
                        <p>No photo of you yet, add one now :) </p>
                        <input type="file" style="margin: 0" class="file btn-dark" asp-for="Upload"/>
                        <button style="margin-top: 10px;" class="btn btn-primary" type="submit">Upload</button>
                    </form>
                }
                else
                {
                    <div class="usrImgContainer" style="position: relative; border-radius: 7px;">
                        <img class="image" style="border: black; border-radius: 0 0 7px 7px;border-collapse: separate" src="~/uploads/usrImg/@UserManager.GetUserAsync(User).Result.UserPhoto" alt="~/images/nopic.jpg">
                        <div class="middle" style="position: absolute; top: 200px; left: 130px;">
                            <form method="post" enctype="multipart/form-data">
                                <div class="input-file-container">  
                                    <input type="file" asp-for="Upload" class="input-file" id="my-file">
                                    <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
                                    <button class="btn btn-primary" id="submitImage" type="submit" disabled style="display: none;">Update Photo</button>
                                </div>
                                <p class="file-return"></p>
                            </form>
                            <div style="margin-top: 10px;">
                                <form method="post">
                                    <button id="deleteUserPhoto" type="submit" asp-page-handler="DeletePhoto" class="btn btn-danger" style="width: 125px;">Delete Photo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="profile-sector-column">
            <div>Full name</div>
            <div style="font-size: 18px;">@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</div>
            <hr />
            <div>Email</div>
            <div style="font-size: 18px;">@UserManager.GetUserAsync(User).Result.Email</div>
            <hr />
            <div>Phone number</div>
            <div style="font-size: 18px;">@UserManager.GetUserAsync(User).Result.PhoneNumber</div>
            <hr />
            <div>Date of birth</div>
            <div style="font-size: 18px">@UserManager.GetUserAsync(User).Result.DateOfBirth.Date.ToString("d")</div>
            <hr/>
            <div>Favorite destinations </div>
            <hr />
            <a class="btn btn-dark" href="/Identity/Account/Manage">Manage Profile</a>
        </div>
        <div class="profile-sector-column">
            <div>Travelers</div>

        </div>
    </div>
        
</div>
<script>
    document.querySelector("html").classList.add('js');

    var fileInput  = document.querySelector( ".input-file" ),  
        button     = document.querySelector( ".input-file-trigger" ),
        the_return = document.querySelector(".file-return");
      
    button.addEventListener( "keydown", function( event ) {  
        if ( event.keyCode === 13 || event.keyCode === 32 ) {  
            fileInput.focus();  
        }  
    });
    button.addEventListener( "click", function( event ) {
        fileInput.focus();
        return false;
    });  
    fileInput.addEventListener( "change", function( event ) {  
        the_return.innerHTML = this.value;
        document.getElementById('submitImage').disabled = false;
        document.getElementById('submitImage').style.display = "inline";
    });  
</script>
</body>

