@page
@model Vancouver.Pages.OrderSuccessModel
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="css/bootstrapIndex.css"/>
</head>

<h2>OrderSuccess</h2>

@if (@Model.CompletedOrder != null)
{
    <div style="color: white; font-size: 30px;">
        <h1>You have successfully completed order from @Model.CompletedOrder.OrderItinerary.originAirportOutbound to @Model.CompletedOrder.OrderItinerary.originAirportInbound </h1>
        <h2>You can look up your itinerary from /TicketTest by using your Itinerary ID - <span style="font-weight: bold;">@Model.CompletedOrder.OrderItinerary.Id</span></h2>
    </div>
}
else
{
     @RedirectToPage("Index")
}

