@page
@using System.Runtime.InteropServices.ComTypes
@using Microsoft.AspNetCore.Identity
@using Models
@using SendGrid
@using CustomerFolder
@using Services
@model Vancouver.Pages.TicketTestModel
@{
    ViewData["Title"] = "My Tickets";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICustomersRepository CustomersRepository
@inject IAirportInfoService airportInfoService
<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="~/css/myTickets.css" rel="stylesheet" />
    <link href="css/boardingPass.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
    <link href="~/css/materialBtn.css" rel="stylesheet" />
    <script src="~/js/myTickets.js"></script>
</head>
<body>
    @{
        if (SignInManager.IsSignedIn(User))
        {
            if (@Model.UserOrders.Any())
            {
                var ordersCount = Model.UserOrders.Count();

                <div class="bookingReferenceResults niceShadow" style="margin-bottom: 25px;">
                    <h3>Found results for @ordersCount trips</h3>
                </div>
                <div class="btn btn-primary" id="addByReferenceBtn">Add trip</div>
                <div class="itineraryIDSearchBox niceShadow" id="itinerarySearchLoggedIn" style="display: none;">
                    <p style="font-size: 25px;">Add a trip to your account</p>
                    <form method="post" style="max-width: 50%">
                        <div class="form-group">
                            <label asp-for="@Model.ItinerarySearch.ItineraryId">Booking reference</label>
                            <input asp-for="@Model.ItinerarySearch.ItineraryId" type="text" class="form-control" style="margin-bottom: 10px;" />
                            <input type="submit" class="btn btn-primary" value="Add" asp-page-handler="TripToAccount" />
                        </div>
                    </form>
                </div>
                for (int i = 0; i < ordersCount; i++)
                {
                    var order = Model.UserOrders.ElementAt(i);
                    var outboundDepartureTime = order.OrderItinerary.departureTimeOutbound.Split("T")[1];
                    var outboundDepartureDate = order.OrderItinerary.departureTimeOutbound.Split("T")[0];
                    if (order.OrderItinerary.originAirportInbound != null)
                    {
                        var inboundDepartureTime = order.OrderItinerary.departureTimeInbound.Split("T")[1];
                        var inboundDepartureDate = order.OrderItinerary.departureTimeInbound.Split("T")[0];
                        var inboundArrivalDate = order.OrderItinerary.arrivalTimeInbound.Split("T")[0];
                    }
                    var airportOut = airportInfoService.GetAirport(order.OrderItinerary.originAirportOutbound);
                    var airportIn = airportInfoService.GetAirport(order.OrderItinerary.arrivalAirportOutbound);
                    var airline = order.OrderItinerary.IndFlightOutbound[0].marketing_airline;
                    var airhexLogos = "https://content.airhex.com/content/logos/airlines_" + airline + "_50_50_s.png";
                    <div class="bookingReferenceResults niceShadow" style="margin-top: 40px">
                        <div class="userTrip">
                            <h1>@airportOut.city, @airportOut.country - @airportIn.city, @airportIn.country (<span>@order.OrderItinerary.originAirportOutbound - @order.OrderItinerary.arrivalAirportOutbound</span>)</h1>
                            <h3 style="font-weight: 500;">@outboundDepartureDate</h3>

                            <hr />
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="row justify-content-center">
                                        <img src="~/images/money-svgrepo-com.svg" />
                                    </div>
                                    <div class="row justify-content-center" style="text-align: center">
                                        <p class="itineraryPriceSpan">@order.OrderItinerary.farePriceTotal @order.OrderItinerary.fareCurrency</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row justify-content-center">
                                        <img src="~/images/tickets-svgrepo-com.svg" />
                                    </div>
                                    <div class="row justify-content-center">
                                        <p style="font-weight:bold">@order.OrderItinerary.AmountOfPassengers</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row justify-content-center">
                                        <img src="~/images/951334.svg" />
                                    </div>
                                    <div class="row justify-content-center">
                                        <p style="font-weight: bold">@order.OrderItinerary.fareClass</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row justify-content-center">
                                        <img src="~/images/laptop.svg" />
                                    </div>
                                    <div class="row justify-content-center">
                                        <p style="font-weight:bold">@order.BookingReference</p>
                                    </div>
                                </div>
                                <div class="col-md-2 my-auto" style="margin-left: 80px">
                                    <div class="btn btn-primary showTicketsBtn" data-target="#order-@i-tickets">Details</div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="order-@i-tickets" style="display: none;">
                            @for (int c = 0; c < order.Tickets.Count(); c++)
                            {
                                var ticket = order.Tickets.ElementAt(c);

                                <div class="container">
                                    <div class="ticketOverall" id="ticket-@c" style="border-radius:5px; padding: 10px">
                                        <h2>Ticket for: @ticket.Customer.FirstName @ticket.Customer.LastName</h2>
                                        <hr />
                                        <h3>Outbound</h3>
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                <h2>@ticket.Order.OrderItinerary.originAirportOutbound - @ticket.Order.OrderItinerary.arrivalAirportOutbound</h2>
                                            </div>
                                            <div class="col-md-2 my-auto">
                                                <div class="row">
                                                    <label>Departure</label>
                                                </div>
                                                <div class="row">
                                                    @ticket.Order.OrderItinerary.departureTimeOutbound.Split('T')[0]
                                                </div>
                                                <div class="row" style="text-align: center">
                                                    @ticket.Order.OrderItinerary.arrivalTimeOutbound.Split('T')[1]
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <label>Trip duration</label>
                                                </div>
                                                <div class="row">
                                                    @ticket.Order.OrderItinerary.tripDurationOutbound.Split(":")[0]h @ticket.Order.OrderItinerary.tripDurationOutbound.Split(":")[1]m
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="btn btn-primary toggleBoardingPasses" data-target="#outboundBoardingPasses-order-@i-boarding-@c">Boarding passes</div>
                                            </div>
                                        </div>
                                        <div class="container outboundBoardingPasses" id="outboundBoardingPasses-order-@i-boarding-@c" style="display:none;">
                                            <div class="row">
                                                @for (int indO = 0; indO < ticket.Order.OrderItinerary.IndFlightOutbound.Count(); indO++)
                                                {

                                                    var currentInd = ticket.Order.OrderItinerary.IndFlightOutbound.FirstOrDefault(x => x.orderPos == indO);
                                                    var originAirport = airportInfoService.GetAirport(currentInd.originInd);
                                                    var destinationAirport = airportInfoService.GetAirport(currentInd.destinationInd);

                                                    <div class="col" id="passesOut-@c-pass-@indO" style="width: 350px;">
                                                        <div class="boarding-pass">
                                                            <header>
                                                                <div class="flight">
                                                                    <small>flight</small>
                                                                    <strong>@currentInd.marketing_airline @currentInd.flight_number</strong>
                                                                </div>
                                                            </header>
                                                            <section class="cities">
                                                                <div class="city">
                                                                    <small>@originAirport.city</small>

                                                                    <strong>@currentInd.originInd</strong>
                                                                </div>
                                                                <div class="city">
                                                                    <small>@destinationAirport.city</small>

                                                                    <strong>@currentInd.destinationInd</strong>
                                                                </div>
                                                                <svg class="airplane">
                                                                    <use xlink:href="#airplane"></use>
                                                                </svg>
                                                            </section>
                                                            <section class="infos">
                                                                <div class="places">
                                                                    <div class="box">
                                                                        <small>Terminal</small>
                                                                        <strong><em>@currentInd.terminalOrg</em></strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Gate</small>
                                                                        <strong><em>-</em></strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Seat</small>
                                                                        <strong>N/A</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Class</small>
                                                                        <strong><small>@currentInd.travel_class</small></strong>
                                                                    </div>
                                                                </div>
                                                                <div class="times">
                                                                    <div class="box">
                                                                        <small>Boarding</small>
                                                                        <strong>-</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Departure</small>
                                                                        <strong>@currentInd.departs_at.Split("T")[1]</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Duration</small>
                                                                        <strong class="passDuration">@currentInd.duration</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Arrival</small>
                                                                        <strong>@currentInd.arrives_at.Split("T")[1]</strong>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <section class="strap">
                                                                <div class="box" style="padding: 5px !important">
                                                                    <div class="passenger">
                                                                        <small>passenger</small>
                                                                        <strong>@ticket.Customer.FirstName @ticket.Customer.LastName</strong>
                                                                    </div>
                                                                </div>

                                                            </section>
                                                        </div>


                                                        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">

                                                            <symbol id="airplane" viewBox="243.5 245.183 25 21.633">
                                                                <g>
                                                                    <path fill="#336699" d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                                                                    c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                                                                    c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z
                                                                    " />
                                                                </g>
                                                            </symbol>

                                                        </svg>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        @if (ticket.Order.OrderItinerary.originAirportInbound != null)
                                        {
                                            <h3>Inbound</h3>
                                            <div class="row">
                                                <div class="col-md-3 my-auto">
                                                    <h2>@ticket.Order.OrderItinerary.originAirportInbound - @ticket.Order.OrderItinerary.arrivalAirportInbound</h2>
                                                </div>
                                                <div class="col-md-2 my-auto">
                                                    <div class="row">
                                                        <label>Departure</label>
                                                    </div>
                                                    <div class="row">
                                                        @ticket.Order.OrderItinerary.departureTimeInbound.Split('T')[0]
                                                    </div>
                                                    <div class="row" style="text-align: center">
                                                        @ticket.Order.OrderItinerary.arrivalTimeInbound.Split('T')[1]
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row">
                                                        <label>Trip duration</label>
                                                    </div>
                                                    <div class="row">
                                                        @ticket.Order.OrderItinerary.tripDurationInbound.Split(":")[0]h @ticket.Order.OrderItinerary.tripDurationInbound.Split(":")[1]m
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="btn btn-primary toggleBoardingPasses" data-target="#inboundBoardingPasses-order-@i-boarding-@c">Boarding passes</div>
                                                </div>
                                            </div>
                                            <div class="container inboundBoardingPasses" id="inboundBoardingPasses-order-@i-boarding-@c" style="display: none;">
                                                <div class="row">
                                                    @for (int indI = 0; indI < ticket.Order.OrderItinerary.IndFlightInbound.Count(); indI++)
                                                    {
                                                        var currentInd = ticket.Order.OrderItinerary.IndFlightInbound.FirstOrDefault(x => x.orderPos == indI);
                                                        var originAirport = airportInfoService.GetAirport(currentInd.originInd);
                                                        var destinationAirport = airportInfoService.GetAirport(currentInd.destinationInd);
                                                        <div class="col" id="passes-@c-pass-@indI" style="width: 350px">
                                                            <div class="boarding-pass">
                                                                <header>
                                                                    <div class="flight">
                                                                        <small>flight</small>
                                                                        <strong>@currentInd.marketing_airline @currentInd.flight_number</strong>
                                                                    </div>
                                                                </header>
                                                                <section class="cities">
                                                                    <div class="city">
                                                                        <small>@originAirport.city</small>

                                                                        <strong>@currentInd.originInd</strong>
                                                                    </div>
                                                                    <div class="city">
                                                                        <small>@destinationAirport.city</small>

                                                                        <strong>@currentInd.destinationInd</strong>
                                                                    </div>
                                                                    <svg class="airplane">
                                                                        <use xlink:href="#airplane"></use>
                                                                    </svg>
                                                                </section>
                                                                <section class="infos">
                                                                    <div class="places">
                                                                        <div class="box">
                                                                            <small>Terminal</small>
                                                                            <strong><em>@currentInd.terminalOrg</em></strong>
                                                                        </div>
                                                                        <div class="box">
                                                                            <small>Gate</small>
                                                                            <strong><em>-</em></strong>
                                                                        </div>
                                                                        <div class="box">
                                                                            <small>Seat</small>
                                                                            <strong>14B</strong>
                                                                        </div>
                                                                        <div class="box">
                                                                            <small>Class</small>
                                                                            <strong><small>@currentInd.travel_class</small></strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="times">
                                                                        <div class="box">
                                                                            <small>Boarding</small>
                                                                            <strong>11:05</strong>
                                                                        </div>
                                                                        <div class="box">
                                                                            <small>Departure</small>
                                                                            <strong>@currentInd.departs_at.Split("T")[1]</strong>
                                                                        </div>
                                                                        <div class="box">
                                                                            <small>Duration</small>
                                                                            <strong class="passDuration">@currentInd.duration</strong>
                                                                        </div>
                                                                        <div class="box">
                                                                            <small>Arrival</small>
                                                                            <strong>@currentInd.arrives_at.Split("T")[1]</strong>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <section class="strap">
                                                                    <div class="box" style="padding: 5px !important">
                                                                        <div class="passenger">
                                                                            <small>passenger</small>
                                                                            <strong>@ticket.Customer.FirstName @ticket.Customer.LastName <br/> @currentInd.departs_at.Split("T")[0]</strong>
                                                                        </div>
                                                                    </div>

                                                                </section>
                                                            </div>

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">

                                                                <symbol id="airplane" viewBox="243.5 245.183 25 21.633">
                                                                    <g>
                                                                        <path fill="#336699" d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                                                                           c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                                                                           c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z
                                                                           " />
                                                                    </g>
                                                                </symbol>

                                                            </svg>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="bookingReferenceResults niceShadow">
                    <p>No itineraries found :'(</p>
                </div>
            }
        }
        else
        {
            <div class="itineraryIDSearchBox niceShadow">
                <p style="font-size: 25px;">Search for your trips by entering the itinerary ID</p>
                <form method="post" style="max-width: 50%">
                    <div class="form-group">
                        <label asp-for="@Model.ItinerarySearch.ItineraryId">Booking reference</label>
                        <input asp-for="@Model.ItinerarySearch.ItineraryId" type="text" class="form-control" style="margin-bottom: 10px;" />
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </form>
            </div>
        }
    }

    @{
        @if (@Model.CustomerOrders != null)
        {
            var ordersCount = Model.CustomerOrders.Count();
            <div class="bookingReferenceResults niceShadow">
                <h3>Found results for @ordersCount trips</h3>
            </div>

            @for (int i = 0; i < ordersCount; i++)
            {
                var order = Model.CustomerOrders.ElementAt(i);
                var outboundDepartureTime = order.OrderItinerary.departureTimeOutbound.Split("T")[1];
                var outboundDepartureDate = order.OrderItinerary.departureTimeOutbound.Split("T")[0];
                if (order.OrderItinerary.originAirportInbound != null)
                {
                    var inboundDepartureTime = order.OrderItinerary.departureTimeInbound.Split("T")[1];
                    var inboundDepartureDate = order.OrderItinerary.departureTimeInbound.Split("T")[0];
                    var inboundArrivalDate = order.OrderItinerary.arrivalTimeInbound.Split("T")[0];
                }
                var airportOut = airportInfoService.GetAirport(order.OrderItinerary.originAirportOutbound);
                var airportIn = airportInfoService.GetAirport(order.OrderItinerary.arrivalAirportOutbound);
                var airline = order.OrderItinerary.IndFlightOutbound[0].marketing_airline;
                var airhexLogos = "https://content.airhex.com/content/logos/airlines_" + airline + "_50_50_s.png";

                <div class="bookingReferenceResults niceShadow" style="margin-top: 40px">
                    <div class="userTrip">
                        <h1>@airportOut.city, @airportOut.country - @airportIn.city, @airportIn.country (<span>@order.OrderItinerary.originAirportOutbound - @order.OrderItinerary.arrivalAirportOutbound</span>)</h1>
                        <h3 style="font-weight: 500;">@outboundDepartureDate</h3>

                        <hr />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row justify-content-center">
                                    <img src="~/images/money-svgrepo-com.svg" />
                                </div>
                                <div class="row justify-content-center" style="text-align: center">
                                    <p class="itineraryPriceSpan">@order.OrderItinerary.farePriceTotal @order.OrderItinerary.fareCurrency</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row justify-content-center">
                                    <img src="~/images/tickets-svgrepo-com.svg" />
                                </div>
                                <div class="row justify-content-center">
                                    <p style="font-weight:bold">@order.OrderItinerary.AmountOfPassengers</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row justify-content-center">
                                    <img src="~/images/951334.svg" />
                                </div>
                                <div class="row justify-content-center">
                                    <p style="font-weight: bold">@order.OrderItinerary.fareClass</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row justify-content-center">
                                    <img src="~/images/laptop.svg" />
                                </div>
                                <div class="row justify-content-center">
                                    <p style="font-weight:bold">@order.BookingReference</p>
                                </div>
                            </div>
                            <div class="col-md-2 my-auto" style="margin-left: 80px">
                                <div class="btn btn-primary showTicketsBtn" data-target="#order-@i-tickets">Details</div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="order-@i-tickets" style="display: none;">
                        @for (int c = 0; c < order.Tickets.Count(); c++)
                        {
                            var ticket = order.Tickets.ElementAt(c);

                            <div class="container">
                                <div class="ticketOverall" id="ticket-@c" style="border-radius:5px; padding: 10px">
                                    <h2>Ticket for: @ticket.Customer.FirstName @ticket.Customer.LastName</h2>
                                    <hr />
                                    <h3>Outbound</h3>
                                    <div class="row">
                                        <div class="col-md-3 my-auto">
                                            <h2>@ticket.Order.OrderItinerary.originAirportOutbound - @ticket.Order.OrderItinerary.arrivalAirportOutbound</h2>
                                        </div>
                                        <div class="col-md-2 my-auto">
                                            <div class="row">
                                                <label>Departure</label>
                                            </div>
                                            <div class="row">
                                                @ticket.Order.OrderItinerary.departureTimeOutbound.Split('T')[0]
                                            </div>
                                            <div class="row" style="text-align: center">
                                                @ticket.Order.OrderItinerary.arrivalTimeOutbound.Split('T')[1]
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="row">
                                                <label>Trip duration</label>
                                            </div>
                                            <div class="row">
                                                @ticket.Order.OrderItinerary.tripDurationOutbound h
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn btn-primary toggleBoardingPasses" data-target="#outboundBoardingPasses-order-@i-boarding-@c">Boarding passes</div>
                                        </div>
                                    </div>
                                    <div class="container outboundBoardingPasses" id="outboundBoardingPasses-order-@i-boarding-@c" style="display:none;">
                                        <div class="row">
                                            @for (int indO = 0; indO < ticket.Order.OrderItinerary.IndFlightOutbound.Count(); indO++)
                                            {

                                                var currentInd = ticket.Order.OrderItinerary.IndFlightOutbound.FirstOrDefault(x => x.orderPos == indO);
                                                var originAirport = airportInfoService.GetAirport(currentInd.originInd);
                                                var destinationAirport = airportInfoService.GetAirport(currentInd.destinationInd);
                                                var outboundFlightDate = ticket.Order.OrderItinerary.departureTimeOutbound.Substring(0, 10);

                                                <div class="col" id="passesOut-@c-pass-@indO" style="width: 350px;">
                                                    <div class="boarding-pass">
                                                        <header>
                                                            <div class="flight">
                                                                <small>flight</small>
                                                                <strong>@currentInd.marketing_airline @currentInd.flight_number</strong>
                                                            </div>
                                                        </header>
                                                        <section class="cities">
                                                            <div class="city">
                                                                <small>@originAirport.city</small>

                                                                <strong>@currentInd.originInd</strong>
                                                            </div>
                                                            <div class="city">
                                                                <small>@destinationAirport.city</small>

                                                                <strong>@currentInd.destinationInd</strong>
                                                            </div>
                                                            <svg class="airplane">
                                                                <use xlink:href="#airplane"></use>
                                                            </svg>
                                                        </section>
                                                        <section class="infos">
                                                            <div class="places">
                                                                <div class="box">
                                                                    <small>Terminal</small>
                                                                    <strong><em>@currentInd.terminalOrg</em></strong>
                                                                </div>
                                                                <div class="box">
                                                                    <small>Gate</small>
                                                                    <strong><em>-</em></strong>
                                                                </div>
                                                                <div class="box">
                                                                    <small>Seat</small>
                                                                    <strong>14B</strong>
                                                                </div>
                                                                <div class="box">
                                                                    <small>Class</small>
                                                                    <p style="font-size: 12px;">@currentInd.travel_class</p>
                                                                </div>
                                                            </div>
                                                            <div class="times">
                                                                <div class="box">
                                                                    <small>Boarding</small>
                                                                    <strong>-</strong>
                                                                </div>
                                                                <div class="box">
                                                                    <small>Departure</small>
                                                                    <strong>@currentInd.departs_at.Split("T")[1]</strong>
                                                                </div>
                                                                <div class="box">
                                                                    <small>Duration</small>
                                                                    <strong class="passDuration">@currentInd.duration</strong>
                                                                </div>
                                                                <div class="box">
                                                                    <small>Arrival</small>
                                                                    <strong>@currentInd.arrives_at.Split("T")[1]</strong>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section class="strap">
                                                            <div class="box" style="padding: 5px !important">
                                                                <div class="passenger">
                                                                    <small>passenger</small>
                                                                    <strong>@ticket.Customer.FirstName @ticket.Customer.LastName <br /></strong>
                                                                    <strong>@currentInd.departs_at.Split("T")[0]</strong>
                                                                </div>
                                                                <div class="date">
                                                                    <small>Date</small>
                                                                    <strong>@outboundFlightDate</strong>
                                                                </div>
                                                            </div>

                                                        </section>
                                                    </div>


                                                    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">

                                                        <symbol id="airplane" viewBox="243.5 245.183 25 21.633">
                                                            <g>
                                                                <path fill="#336699" d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                              c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                              c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z
                              " />
                                                            </g>
                                                        </symbol>

                                                    </svg>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    @if (ticket.Order.OrderItinerary.originAirportInbound != null)
                                    {
                                        <h3>Inbound</h3>
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                <h2>@ticket.Order.OrderItinerary.originAirportInbound - @ticket.Order.OrderItinerary.arrivalAirportInbound</h2>
                                            </div>
                                            <div class="col-md-2 my-auto">
                                                <div class="row">
                                                    <label>Departure</label>
                                                </div>
                                                <div class="row">
                                                    @ticket.Order.OrderItinerary.departureTimeInbound.Split('T')[0]
                                                </div>
                                                <div class="row" style="text-align: center">
                                                    @ticket.Order.OrderItinerary.arrivalTimeInbound.Split('T')[1]
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row">
                                                    <label>Trip duration</label>
                                                </div>
                                                <div class="row">
                                                    @ticket.Order.OrderItinerary.tripDurationInbound h
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="btn btn-primary toggleBoardingPasses" data-target="#inboundBoardingPasses-order-@i-boarding-@c">Boarding passes</div>
                                            </div>
                                        </div>
                                        <div class="container inboundBoardingPasses" id="inboundBoardingPasses-order-@i-boarding-@c" style="display: none;">
                                            <div class="row">
                                                @for (int indI = 0; indI < ticket.Order.OrderItinerary.IndFlightInbound.Count(); indI++)
                                                {
                                                    var currentInd = ticket.Order.OrderItinerary.IndFlightInbound.FirstOrDefault(x => x.orderPos == indI);
                                                    var originAirport = airportInfoService.GetAirport(currentInd.originInd);
                                                    var destinationAirport = airportInfoService.GetAirport(currentInd.destinationInd);
                                                    var inboundFlightDate = ticket.Order.OrderItinerary.departureTimeInbound.Substring(0, 10);
                                                    <div class="col" id="passes-@c-pass-@indI" style="width: 350px">
                                                        <div class="boarding-pass">
                                                            <header>
                                                                <div class="flight">
                                                                    <small>flight</small>
                                                                    <strong>@currentInd.flight_number</strong>
                                                                </div>
                                                            </header>
                                                            <section class="cities">
                                                                <div class="city">
                                                                    <small>@originAirport.city</small>

                                                                    <strong>@currentInd.originInd</strong>
                                                                </div>
                                                                <div class="city">
                                                                    <small>@destinationAirport.city</small>

                                                                    <strong>@currentInd.destinationInd</strong>
                                                                </div>
                                                                <svg class="airplane">
                                                                    <use xlink:href="#airplane"></use>
                                                                </svg>
                                                            </section>
                                                            <section class="infos">
                                                                <div class="places">
                                                                    <div class="box">
                                                                        <small>Terminal</small>
                                                                        <strong><em>@currentInd.terminalOrg</em></strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Gate</small>
                                                                        <strong><em>-</em></strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Seat</small>
                                                                        <strong>14B</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Class</small>
                                                                        <strong><small>@currentInd.travel_class</small></strong>
                                                                    </div>
                                                                </div>
                                                                <div class="times">
                                                                    <div class="box">
                                                                        <small>Boarding</small>
                                                                        <strong>11:05</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Departure</small>
                                                                        <strong>@currentInd.departs_at.Split("T")[1]</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Duration</small>
                                                                        <strong>N/A</strong>
                                                                    </div>
                                                                    <div class="box">
                                                                        <small>Arrival</small>
                                                                        <strong>@currentInd.arrives_at.Split("T")[1]</strong>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <section class="strap">
                                                                <div class="box" style="padding: 5px !important">
                                                                    <div class="passenger">
                                                                        <small>passenger</small>
                                                                        <strong>@ticket.Customer.FirstName @ticket.Customer.LastName</strong>
                                                                    </div>
                                                                    <div class="date">
                                                                        <small>Date</small>
                                                                        <strong>@inboundFlightDate</strong>
                                                                    </div>
                                                                </div>

                                                            </section>
                                                        </div>

                                                        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">

                                                            <symbol id="airplane" viewBox="243.5 245.183 25 21.633">
                                                                <g>
                                                                    <path fill="#336699" d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                                                                           c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                                                                           c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z
                                                                           " />
                                                                </g>
                                                            </symbol>

                                                        </svg>

                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    }

                                </div>

                            </div>
                        }
                    </div>

                </div>
            }
        }
    }
</body>

